table {
  margin: 1rem 0;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
thead td {
  font-weight: bold;
  padding: 0.3rem;
  /* margin: .5rem; */
}
.red {
  background-color: crimson;
}
.green {
  background-color: lawngreen;
}